<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <property name="WKSP_DIR" value="/home/sandeep/projects/workspace/sconsole/"/>

    <conversionRule conversionWord="consoleMsg" converterClass="com.sandy.sconsole.core.log.ConsoleLogIndenter" />
    <conversionRule conversionWord="fileMsg"    converterClass="com.sandy.sconsole.core.log.FileLogIndenter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!--%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{15}.%M - %msg%n-->
                %highlight(%-5level) %-3.3L %-30.30logger{0} - %consoleMsg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${WKSP_DIR}/log/sconsole.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %highlight(%-5level) %-3.3L %-30.30logger{0} - %fileMsg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework"  level="WARN"></logger>
    <logger name="_org.springframework" level="WARN"></logger>
    <logger name="org.apache"           level="WARN"></logger>
    <logger name="org.hibernate"        level="WARN"></logger>
    <logger name="org.jboss"            level="WARN"></logger>
    <logger name="com.zaxxer"           level="WARN"></logger>
    <logger name="SQL dialect"          level="WARN"></logger>

    <logger name="com.sandy.sconsole.core.net" level="INFO"></logger>
    <logger name="com.sandy.sconsole.core.nvpconfig.annotation.NVPConfigAnnotationProcessor" level="INFO"></logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>