[Unit]
Description=SConsole service
After=network.target multi-user.target lightdm.service
Requires=lightdm.service

[Service]
Environment="DB_PASSWORD=[password here]"
Environment="DB_HOST=localhost"
Environment="WORDNIK_API_KEY=***REMOVED***"
Environment="DISPLAY=:0"
ExecStart=/home/sandeep/projects/bin/sconsole/sconsole
WorkingDirectory=/home/sandeep/projects/bin/sconsole
Type=simple
StandardOutput=file:/home/sandeep/projects/workspace/sconsole/log/sconsole_out.txt
StandardError=file:/home/sandeep/projects/workspace/sconsole/log/sconsole_err.txt
Restart=on-abort
RestartSec=5s
User=sandeep

[Install]
WantedBy=graphical.target